/* general styling rules */

body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: #121743;
    color: #222224;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1,
h2 {
    color: #d3d5e2;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* margin: 1rem 0; */
}

.tile {
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    border: none;
    line-height: 20px;
    padding: 0;
}

.hidden {
    display: none;
}

/* Colours */
/* Box shadow soft UI tiles were created with help from https://neumorphism.io/#dedfe8 */
.box-shadow {
    border-radius: 10px;
    box-shadow: 3px 3px 8px #010208,
        -5px -5px 5px #454579;
}

.container-dark-background {
    background: linear-gradient(25deg, #0f133b, #0A0D28);
}

.active {
    background: #d3d5e2;
    box-shadow: 5px 5px 2px #040510,
        -2px -2px 2px #5f67af;
}

.inactive {
    background: #727379;
    box-shadow: 5px 5px 2px #040510,
        -2px -2px 2px #101540;
}

.game-controls .button {
    padding: 5px;
}

.button,
a {
    margin: 5px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    border: none;
    text-decoration: none;
    padding: 0;
    color: inherit;
    display: block;
}

/* Hover effects */

.active:hover {
    background: #fff;
    box-shadow: 5px 5px 9px #151a50,
        -5px -5px 9px #363c74;
    cursor: pointer;
}

/* Header and Nav */

header {
    width: 100%;
}

header h1 {
    transform: translateY(50%);
}

nav {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;

}

/* Modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal-content {
    background-color: #d3d5e2;
    margin: auto;
    padding: 10px;
    width: 60vw;
    border-radius: 6px;
    font-size: 1rem;
    overflow: hidden;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.modal h2 {
    color: #222224;
    font-size: 2rem;
    line-height: 2rem;
}

.modal img {
    max-height: 15vh;
    max-width: 50vw;
}

/* ---------------Game space-------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 95px);
    padding-top: 30px;
}

/* Game-controls */
.game-controls {
    width: fit-content;
    height: fit-content;
    min-height: 25%;
    min-width: 80vw;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.letters-row {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

/* Rocket */
.rocket {
    height: 50vh;
    width: 40vh;
    margin: auto;
    background-image: url("https://res.cloudinary.com/chronologic12/image/upload/v1628162423/Spaceman/stars-only_i2y1sz.gif");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rocket img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Target word */
.target-word {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 80vw;
}

.target-word .tile {
    cursor: default !important;
}

.target-word .active:hover {
    background: #d3d5e2;
    box-shadow: 5px 5px 2px #040510,
        -2px -2px 2px #5f67af;
}

.target-word-container {
    margin: 3% auto;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

/* countdown */
.countdown {
    color: #d3d5e2;
    position: absolute;
    font-size: 2rem;
    transform: translateX(10%);
}

/* ----------media queries--------- */
/* Resizing for mobile devices */
@media only screen and (min-width: 375px) {
    .tile {
        height: 25px;
        width: 25px;
        margin: 4px;
        border-radius: 3px;
        font-size: 1rem;
        line-height: 25px;
    }
}

@media only screen and (min-width: 520px) {
    .tile {
        height: 30px;
        width: 30px;
        margin: 5px;
        border-radius: 4px;
        font-size: 1.5rem;
        line-height: 30px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    nav {
        top: 15px;
        right: 15px;
    }
}

/* Resizing for tablet devices */
@media only screen and (min-width: 650px) {
    .tile {
        height: 35px;
        width: 35px;
        margin: 6px;
        border-radius: 5px;
        font-size: 1.5rem;
        line-height: 30px;
    }

    .game-controls .button {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .tile {
        height: 40px;
        width: 40px;
        margin: 6px;
        border-radius: 6px;
        font-size: 2rem;
        line-height: 40px;
    }
}

@media only screen and (min-width: 800px) {
    .game-controls {
        min-width: 70vw;
    }

    .target-word-container {
        max-width: 90%;
    }
}

/* Resizing for desktop (HD) devices */
@media only screen and (min-width: 1080px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        place-items: center;
    }

    .start-game-container {
        grid-template-rows: 1fr;
    }

    .target-word-container {
        align-self: end;
    }

    .game-controls {
        align-self: start;
        min-width: 520px;
        min-height: 180px;
        margin: 3% 0;
        padding: 5px;
    }

    .start {
        align-self: center;
    }

    .rocket {
        grid-row: 1/3;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .rocket {
        height: 70vh;
        width: 56vh;
    }

    .countdown {
        font-size: 4rem;
    }
}

/* Resizing for desktop (QHD) devices */
@media only screen and (min-width: 1440px) {
    .tile {
        height: 50px;
        width: 50px;
        margin: 8px;
        font-size: 2rem;
        line-height: 50px;
    }

    .game-controls {
        padding: 10px;
    }
}

/* Resizing for desktop (UHD) devices */
@media only screen and (min-width: 2560px) {
    .tile {
        height: 65px;
        width: 65px;
        margin: 10px;
        font-size: 2.5rem;
        line-height: 65px;
    }

    header h1 {
        font-size: 5rem;
        transform: translateY(100%);
    }

    .game-controls {
        min-width: 800px;
        min-height: 255px;
    }

    .game-controls .button {
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding: 10px;
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 3000px) {
    .tile {
        height: 80px;
        width: 80px;
        margin: 12px;
        font-size: 3rem;
        line-height: 80px;
        border-radius: 10px;
    }

    header h1 {
        font-size: 7rem;
        transform: translateY(150%);
    }

    .game-controls {
        min-width: 1040px;
        min-height: 327px;
    }

    .game-controls .button {
        font-size: 3.5rem;
        line-height: 3.5rem;
        padding: 10px;
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
}

/* Landscape orientation */

@media screen and (orientation: Landscape) and (max-device-width: 812px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        place-items: center;
    }

    .tile {
        height: 22px;
        width: 22px;
        margin: 2px;
        border-radius: 3px;
        font-size: 1rem;
        line-height: 22px;
    }

    .rocket {
        grid-row: 1/3;
        height: 70vh;
        width: 56vh;
    }

    .game-controls {
        width: fit-content;
        min-width: 260px;
        padding: 2px;
    }

    header h1 {
        font-size: 2rem;
    }
}