/* general stlying rules */

body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: #121743;
    color: #222224;
    font-size: 2rem;
}

/* Colours */

.box-shadow {
    border-radius: 30px;
    background: linear-gradient(145deg, #090c24, #0b0e2b);
    box-shadow:  25px 25px 51px #040510,
             -25px -25px 51px #101540;  
}

.container-dark-background {
    background: #0A0D28;
}

/* Game elements */
/* Keyboard */
.letter-selection {
    width: fit-content;
    height: fit-content; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.tile {
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 10px;
    border-radius: 6px;
    background: #d3d5e2;
    box-shadow:  5px 5px 9px #040510,
             -5px -5px 9px #101540;
}

.letters-row {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

/* Rocket */
.rocket {
    height: 50vh;
    width: 60vw;
    margin: 2rem;
}

/* Terget word */

.target-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
